# Node modules
node_modules/
backend/node_modules/
ProjetoBD2025/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
jspm_packages/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
.tmp/
.cache/

# VSCode
.vscode/
*.code-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
package-lock.json
