html {
    overflow-x: hidden ! important;
    overflow-y: auto;
    max-width: 100vw;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

#root {
    overflow-x: hidden !important;
    max-width: 100vw;
}

::-webkit-scrollbar:horizontal {
    display: none;
    width: 0;
    height: 0;
}

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar:horizontal {
    display: none;
}