.perfil-container {
    color: #fff;
}

.perfil-header {
    background: #1b1b1b;
    padding: 20px;
    width: 100%;
    height: 150px;
    border-radius: 30px;
}

.perfil-icone {
    border-radius: 50%;
    padding: 6px;
    background: linear-gradient(135deg, #ff0000, #8b0000);
}

.perfil-nome {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.perfil-email {
    color: #bbb;
    font-size: 1rem;
}

h4 {
    font-weight: 600;
    margin-top: 40px;
}

.perfil-card {
    background: #1b1b1b;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}


.perfil-card-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 280px;
    object-fit: cover;
}

.perfil-card-titulo {
    font-size: 0.95rem;
    margin-top: 10px;
    font-weight: 500;
    color: #eee;
}

.assistidos-section {
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
}
