/* Fundo da tela */
.login-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card-login {
    background: rgba(32, 32, 32, 0.651);
    padding: 35px;
    border-radius: 14px;
    width: 100%;
    max-width: 420px;
    color: #fff;
}

/* Título */
.login-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Inputs */
.card-login .form-control {
    background: #474747;
    border: 1px solid #333;
    color: #fff;
}

.card-login .form-control:focus {
    background: #6d6d6d;
    border-color: #992508;
    box-shadow: none;
    color: #fff;
}

/* Checkbox */
.card-login .form-check-label {
    color: #ccc;
    font-size: 0.9rem;
}

/* Botão principal */
.botao-primario {
    background: #880404 !important;
    border: none !important;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    color: #fff ! important;
    box-shadow:  none !important;
}

.botao-primario:hover {
    background: #bd0808 !important;
    color: #fff !important;
}

.botao-primario:active,
.botao-primario:focus,
.botao-primario:focus-visible {
    background: #880404 !important;
    color: #fff !important;
    box-shadow: none !important;
    border: none !important;
}

.botao-primario:disabled {
    background: #880404 !important;
    opacity: 0.6;
    cursor: not-allowed;
}

/* Botão secundário */
.botao-secundario {
    color: #aaa !important;
    font-size: 0.9rem;
    text-align: center;
    background: transparent !important;
    border: none;
}

.botao-secundario:hover {
    color: #970303 !important;
}

.botao-primario:disabled {
    background: #880404
}


.form-control.is-invalid {
    border-color: #dc3545;
    background-image: none;
}