.perfil-container {
    color: #fff;
}

.perfil-header {
    background: #1c1c1c94;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.perfil-icone {
    border-radius: 50%;
    overflow:  hidden;
    border: 2px solid #ffffff;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-icone > div {
    width: 100% !important;
    height: 100% !important;
    font-size: 48px !important;
}

.perfil-nome {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.perfil-email {
    color: #bbb;
    font-size: 1rem;
}

h4 {
    font-weight: 600;
    margin-top: 40px;
}

.perfil-card {
    background:  #1c1c1c;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.perfil-card-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 280px;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.perfil-card-titulo {
    font-size: 0.95rem;
    margin-top: 10px;
    font-weight: 500;
    color: #eee;
}